.mainContent {
    width: 1000px; 
    height: auto;
    margin: auto;
    background-color: gray;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

p {
    text-align: left;
    padding-left: 4%;
}

.p1 {
    padding-top: 1%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
